body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Review-Feedbacks_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:678px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:417px;
    height:678px;
}

.u1 {
    position:absolute;
    left:2px;
    top:331px;
    width:413px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:121px;
    top:307px;
    width:286px;
    height:22px;
    ;
    ;
    ;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3 {
    position:absolute;
    left:120px;
    top:359px;
    width:286px;
    height:37px;
    ;
    ;
    text-align: left;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:121px;
    top:420px;
    width:286px;
    height:141px;
    ;
    ;
    text-align: left;;
    font-family:'Calibri';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_normal {
    background-image: url('../Review-Feedbacks_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:36px;
    width:32px;
    height:28px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:28px;
}

.u6 {
    position:absolute;
    left:2px;
    top:6px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Review-Feedbacks_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:384px;
    top:36px;
    width:31px;
    height:27px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:31px;
    height:27px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:27px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Review-Feedbacks_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:351px;
    top:36px;
    width:29px;
    height:28px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:28px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

